:markdown

	# New with Version 1.6.2

	- New games can be started with a custom seed by control-clicking "New Game" on the title screen.
	- Several new monster types that appear exclusively as allies, and a new quest room in which they appear.
	- New weakness status effect that can be inflicted temporarily by centipedes.
	- Equipped items are listed at the top of the inventory and separated from the remainder of the items by a one-line divider.
	- The names of unknown item types are displayed with purple coloration.
	- A few more pieces of information are included in item description screens.
	- Visible items on the floor are listed in the sidebar below monsters.
	- The variance of gold generated as a function of depth has been tightened substantially between games so that score better reflects depth (assuming that one finds all of the gold).
	- 10% of monsters are generated out-of-depth, from 1-5 levels deeper.
	- Explore and travel functions seek out weapons that you’ve thrown at enemies and items that have been stolen from you, and will otherwise avoid, when convenient, items that you’ve discarded or thrown.
	- Targeting will default to the last confirmed target when it remains a valid and appropriate target.
	- Throwing an item will auto-target a monster only if the item is a weapon or potion.
	- Calling an item a blank string (instead of pressing escape) will remove any existing inscription and revert to, e.g., "a pink potion."
	- The "Direction?" prompt displays the item name and action in the row above the prompt.
	- New purely cosmetic "true color" mode that optionally disables lighting colors, toggled during play with the backslash key.
	- Coloration of locked doors is more distinctive, and water is a deeper blue.
	- Fleeing monkeys stop fleeing if they drop your item to water currents.
	- Allies will no longer cast negation at reflective opponents.
	- Allies can again absorb invisibility from defeated enemies.
	- Rings of regeneration have been nerfed at high enchantment levels, so that they will never permit full regeneration in less than two to three turns.
	- Hallucination potions that have been affected by detect magic will auto-identify when thrown.
	- Title screen colors are somewhat calmer.
	- Lots of bug fixes.