.item
	:markdown

		# About

		Brogue is a Roguelike game for Mac OS X, Windows and Linux by Brian Walker.
		You can download the latest version on the right.

		I can be reached at [penderprime@gmail.com](mailto:penderprime@gmail.com) - feel free to send me any thoughts or bug reports.

		Many thanks to Joshua Day, Frank Brown and Kevin Walker for brainstorming, coding assistance and testing, and to Joshua for compiling the Windows and Linux executables.

.item
	:markdown

		# How to Play

		You are the **@** symbol. Move around the dungeon with the vi-keys (**hjklyubn**) or keypad keys. The arrow keys will also work, but they do not allow diagonal movement.

		Other commands are as listed in the help screen, which you can access by typing a question mark. I codely encourage at least a cursory inspection of this list of commands, as many are non-standard in the roguelike genre, and the player may not otherwise realize that some commands even exist (such as the command to list '**D**'iscovered items or automatically e'**X**'plore the dungeon).

		Your goal is to travel to the 26th subterranean floor of the dungeon, retrieve the Amulet of Yendor and return with it to the surface. For the truly skillful who desire further challenge, depths below 26 contain three lumenstones each &ndash; items which confer no benefit except an increased score upon victory.

		Games can be '**S**'uspended and '**O**'pened at a later time. Recordings of games can be saved when the game ends, and later '**V**'iewed.

.item
	:markdown

		# Download
		## Version 1.6.2
		
		- [Mac OSX 10.5+](https://sites.google.com/site/broguegame/Brogue%20OS%20X%20v1.6.2.dmg)
		- [Windows](https://sites.google.com/site/broguegame/Brogue%20Windows%20v1.6.2.zip)
		- [Linux](https://sites.google.com/site/broguegame/brogue-linux-1.6.2.tar.gz)
