.gallery
	%h1 Version 1.5
	%ul
		%li
			%a{"data-id" => "brimstone-battle", :href => "#"}
				%figure
					%img{:src => "images/screenshots/1.5/brimstone-battle-thumb.jpg"}
						%figcaption
							Brimstone Battle
		%li
			%a{"data-id" => "dar-battlemage", :href => "#"}
				%figure
					%img{:src => "images/screenshots/1.5/dar-battlemage-thumb.jpg"}
						%figcaption
							Dar Battlemage
		%li
			%a{"data-id" => "firebolt-killed-pixie", :href => "#"}
				%figure
					%img{:src => "images/screenshots/1.5/firebolt-killed-pixie-thumb.jpg"}
						%figcaption
							Firebolt Killed Pixie
		%li
			%a{"data-id" => "illuminated-chasm", :href => "#"}
				%figure
					%img{:src => "images/screenshots/1.5/illuminated-chasm-thumb.jpg"}
						%figcaption
							Illuminated Chasm
		%li
			%a{"data-id" => "paralytic-gas", :href => "#"}
				%figure
					%img{:src => "images/screenshots/1.5/paralytic-gas-thumb.jpg"}
						%figcaption
							Paralytic Gas

.gallery
	%h1 Version 1.4
	%ul
		%li
			%a{"data-id" => "brimstone", :href => "#"}
				%figure
					%img{:src => "images/screenshots/1.4/brimstone-thumb.jpg"}
						%figcaption
							Brimstone
		%li
			%a{"data-id" => "burning-gas", :href => "#"}
				%figure
					%img{:src => "images/screenshots/1.4/burning-gas-thumb.jpg"}
						%figcaption
							Burning Gas
		%li
			%a{"data-id" => "dragon-domination", :href => "#"}
				%figure
					%img{:src => "images/screenshots/1.4/dragon-domination-thumb.jpg"}
						%figcaption
							Dragon Domination
		%li
			%a{"data-id" => "illuminated-cloud", :href => "#"}
				%figure
					%img{:src => "images/screenshots/1.4/illuminated-cloud-thumb.jpg"}
						%figcaption
							Illuminated Cloud
		%li
			%a{"data-id" => "ogre-info", :href => "#"}
				%figure
					%img{:src => "images/screenshots/1.4/ogre-info-thumb.jpg"}
						%figcaption
							Ogre Info
		%li
			%a{"data-id" => "reprisal", :href => "#"}
				%figure
					%img{:src => "images/screenshots/1.4/reprisal-thumb.jpg"}
						%figcaption
							Reprisal
		%li
			%a{"data-id" => "sleeping-priestess", :href => "#"}
				%figure
					%img{:src => "images/screenshots/1.4/sleeping-priestess-thumb.jpg"}
						%figcaption
							Sleeping Priestess

.gallery
	%h1 Version 1.3
	%ul
		%li
			%a{"data-id" => "bridges", :href => "#"}
				%figure
					%img{:src => "images/screenshots/1.3/bridges-thumb.jpg"}
						%figcaption
							Bridges
		%li
			%a{"data-id" => "conjurer-on-bridge", :href => "#"}
				%figure
					%img{:src => "images/screenshots/1.3/conjurer-on-bridge-thumb.jpg"}
						%figcaption
							Conjurer on Bridge
		%li
			%a{"data-id" => "fungal-forest", :href => "#"}
				%figure
					%img{:src => "images/screenshots/1.3/fungal-forest-thumb.jpg"}
						%figcaption
							Fungal Forest
		%li
			%a{"data-id" => "obstruction-bolt", :href => "#"}
				%figure
					%img{:src => "images/screenshots/1.3/obstruction-bolt-thumb.jpg"}
						%figcaption
							Obstruction Bolt

.screenshots
	#bridges.modal
		%a.close-modal x
		%img{:src => "images/screenshots/1.3/bridges.png"}
	#conjurer-on-bridge.modal
		%a.close-modal x
		%img{:src => "images/screenshots/1.3/conjurer-on-bridge.png"}
	#fungal-forest.modal
		%a.close-modal x
		%img{:src => "images/screenshots/1.3/fungal-forest.png"}
	#obstruction-bolt.modal
		%a.close-modal x
		%img{:src => "images/screenshots/1.3/obstruction-bolt.png"}
	#brimstone.modal
		%a.close-modal x
		%img{:src => "images/screenshots/1.4/brimstone.png"}
	#burning-gas.modal
		%a.close-modal x
		%img{:src => "images/screenshots/1.4/burning-gas.png"}
	#dragon-domination.modal
		%a.close-modal x
		%img{:src => "images/screenshots/1.4/dragon-domination.png"}
	#illuminated-cloud.modal
		%a.close-modal x
		%img{:src => "images/screenshots/1.4/illuminated-cloud.png"}
	#ogre-info.modal
		%a.close-modal x
		%img{:src => "images/screenshots/1.4/ogre-info.png"}
	#reprisal.modal
		%a.close-modal x
		%img{:src => "images/screenshots/1.4/reprisal.png"}
	#sleeping-priestess.modal
		%a.close-modal x
		%img{:src => "images/screenshots/1.4/sleeping-priestess.png"}
	#brimstone-battle.modal
		%a.close-modal x
		%img{:src => "images/screenshots/1.5/brimstone-battle.png"}
	#dar-battlemage.modal
		%a.close-modal x
		%img{:src => "images/screenshots/1.5/dar-battlemage.png"}
	#firebolt-killed-pixie.modal
		%a.close-modal x
		%img{:src => "images/screenshots/1.5/firebolt-killed-pixie.png"}
	#illuminated-chasm.modal
		%a.close-modal x
		%img{:src => "images/screenshots/1.5/illuminated-chasm.png"}
	#paralytic-gas.modal
		%a.close-modal x
		%img{:src => "images/screenshots/1.5/paralytic-gas.png"}